.jumbotron {
	background-color: #873901;
	color: white;
}


.panel > .panel-heading {
	background-color: blue;
	color: white;
	border-color: blue;
}

.panel {
	border-color: blue;
}

.btn {
	background-color: blue;
	color: white;
}

.btn:hover {
	color: #70a5f9;
}